body {
  background-color: #ffd700;
}

.ul__element {
  display: inline-block;
}
li {
  margin: 10px 0;
}
#burger-submit {
  background-color: #c41339;
}

ul.ba {
  list-style-type: none;
}
.jumbotron {
  background-image: url("../img/burgers.jpg");
  background-size: cover;
}
